DOCTYPE
html(lang="en")
	head
		title Landing Page
	body
	h1 "The future home, of something awesome!"
	p "Direct trade tofu iceland forage, four loko stumptown franzen poutine la croix migas aesthetic ugh hammock."